<div class="container fsf-zoller-accordion {f:if(condition: '{settings.distance} == \'distance\'', then: 'distance')}">
    <div id="{rand}" class="row">
        <div class="col-xl-5 col-12 left-accordion">
            <h2>{settings.headline}</h2>
            <f:format.html>{settings.text}</f:format.html>
            <f:if condition="{settings.img}">
                <f:image
                    class="accordion-image"
                    src="/uploads/tx_fsfzolleraccordion/{settings.img}"
                />
            </f:if>
            <f:if condition="{settings.video}"> 
                <video controls class="accordion-video">
                    <source src="/uploads/tx_fsfzolleraccordion/{settings.video}" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
            </f:if>
        </div>
        <div class="col-xl-7 col-12">
            <div
                class="accordion md-accordion"
                id="accordionEx-{rand}"
                role="tablist"
                aria-multiselectable="true"
            >
                <f:for
                    each="{settings.references}"
                    as="reference"
                    key="key"
                    iteration="iterator"
                >
                    <div class="card">
                        <!-- Card header -->
                        <div
                            class="card-header"
                            role="tab"
                            id="heading-{iterator.index}-{rand}"
                        >
                            <a
                                data-toggle="collapse"
                                data-parent="#accordionEx-{rand}"
                                href="#collapse-{iterator.index}-{rand}"
                                aria-expanded="false"
                                class="colappsed collapsed"
                                aria-controls="collapse-{iterator.index}"
                            >
                                <h4 class="headline-accordeon">
                                    {reference.item.headline}
                                    <i
                                        class="fas fa-angle-down rotate-icon"
                                    ></i>
                                </h4>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div
                            id="collapse-{iterator.index}-{rand}"
                            class="collapse"
                            role="tabpanel"
                            aria-labelledby="heading-{iterator.index}-{rand}"
                            data-parent="#accordionEx-{rand}"                            
                        >
                            <div class="card-body">
                                <f:format.html>
                                    {reference.item.text}</f:format.html
                                >
                                <f:if condition="{reference.item.img}">
                                    <f:image
                                        class="accordion-image"
                                        src="/uploads/tx_fsfzolleraccordion/{reference.item.img}"
                                    />
                                </f:if>
                                <f:if condition="{reference.item.video}">
                                    <video controls class="accordion-video">
                                        <source src="/uploads/tx_fsfzolleraccordion/{reference.item.video}" type="video/mp4">
                                            Your browser does not support HTML5 video.
                                        </video>
                                </f:if>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
        </div>
    </div>
</div>
